In [246]:
import requests
from bs4 import BeautifulSoup
import pandas as pd  # Import pandas for DataFrame

# Fetch the webpage
a = requests.get('https://www.skysports.com/premier-league-results')
soup = BeautifulSoup(a.text, features="html.parser")

# Initialize lists for storing match data
match_data = []

# Loop through the dates and their respective matches
for match_day in soup.find_all(class_="fixres__item"):
    # Get the date for the current set of fixtures (check if it exists)
    date_element = match_day.find(class_="fixres__header2")
    date = date_element.text.strip() if date_element else "Unknown Date"
    
    # Get the team names
    teams = [team.text.strip() for team in match_day.find_all(class_="swap-text__target")]
    
    # Get the scores (check if scores exist)
    scores = [score.text.strip() for score in match_day.find_all(class_="matches__teamscores-side")]
    
    # Append the match details (teams, scores, and date)
    for i in range(0, len(teams), 2):  # Step by 2 to get home vs away pairs
        home_team = teams[i]
        away_team = teams[i + 1]
        
        # Handle missing scores (if match hasn't been played yet)
        home_score = scores[i] if i < len(scores) else "N/A"
        away_score = scores[i + 1] if i + 1 < len(scores) else "N/A"
        
        # Store match information as a dictionary
        match_data.append({
            'date': date,
            'home_team': home_team,
            'home_score': home_score,
            'away_team': away_team,
            'away_score': away_score
        })

# Create a Pandas DataFrame from the list of matches
df = pd.DataFrame(match_data, columns=['home_team', 'home_score', 'away_team', 'away_score'])

# Display the DataFrame
df

def calculate_actual_result(row):
    if row['home_score'] > row['away_score']:
        return 'H'  # Home win
    elif row['home_score'] < row['away_score']:
        return 'A'  # Away win
    else:
        return 'D'  # Draw

# Apply the function to each row in the DataFrame to create a new column 'predicted_result'
df['actual_result'] = df.apply(calculate_actual_result, axis=1)

df['match'] = df['home_team'] + ' vs ' + df['away_team']
# Display the updated DataFrame with predicted result
df_actuals = df
df_actuals

,home_team,home_score,away_team,away_score,actual_result,match
0,Brighton and Hove Albion,2,Nottingham Forest,2,D,Brighton and Hove Albion vs Nottingham Forest
1,Manchester City,2,Arsenal,2,D,Manchester City vs Arsenal
2,West Ham United,0,Chelsea,3,A,West Ham United vs Chelsea
3,Aston Villa,3,Wolverhampton Wanderers,1,H,Aston Villa vs Wolverhampton Wanderers
4,Fulham,3,Newcastle United,1,H,Fulham vs Newcastle United
5,Leicester City,1,Everton,1,D,Leicester City vs Everton
6,Liverpool,3,Bournemouth,0,H,Liverpool vs Bournemouth
7,Southampton,1,Ipswich Town,1,D,Southampton vs Ipswich Town
8,Tottenham Hotspur,3,Brentford,1,H,Tottenham Hotspur vs Brentford
9,Crystal Palace,0,Manchester United,0,D,Crystal Palace vs Manchester United
10,Tottenham Hotspur,0,Arsenal,1,A,Tottenham Hotspur vs Arsenal
11,Wolverhampton Wanderers,1,Newcastle United,2,A,Wolverhampton Wanderers vs Newcastle United
12,Southampton,0,Manchester United,3,A,Southampton vs Manchester United
13,Brighton and Hove Albion,0,Ipswich Town,0,D,Brighton and Hove Albion vs Ipswich Town
14,Crystal Palace,2,Leicester City,2,D,Crystal Palace vs Leicester City
15,Fulham,1,West Ham United,1,D,Fulham vs West Ham United
16,Liverpool,0,Nottingham Forest,1,A,Liverpool vs Nottingham Forest
17,Manchester City,2,Brentford,1,H,Manchester City vs Brentford
18,Aston Villa,3,Everton,2,H,Aston Villa vs Everton
19,Bournemouth,0,Chelsea,1,A,Bournemouth vs Chelsea
20,Chelsea,1,Crystal Palace,1,D,Chelsea vs Crystal Palace
21,Newcastle United,2,Tottenham Hotspur,1,H,Newcastle United vs Tottenham Hotspur
22,Manchester United,0,Liverpool,3,A,Manchester United vs Liverpool
23,Arsenal,1,Brighton and Hove Albion,1,D,Arsenal vs Brighton and Hove Albion
24,Brentford,3,Southampton,1,H,Brentford vs Southampton
25,Everton,2,Bournemouth,3,A,Everton vs Bournemouth
26,Ipswich Town,1,Fulham,1,D,Ipswich Town vs Fulham
27,Leicester City,1,Aston Villa,2,A,Leicester City vs Aston Villa
28,Nottingham Forest,1,Wolverhampton Wanderers,1,D,Nottingham Forest vs Wolverhampton Wanderers
29,West Ham United,1,Manchester City,3,A,West Ham United vs Manchester City
30,Bournemouth,1,Newcastle United,1,D,Bournemouth vs Newcastle United
31,Wolverhampton Wanderers,2,Chelsea,6,A,Wolverhampton Wanderers vs Chelsea
32,Liverpool,2,Brentford,0,H,Liverpool vs Brentford
33,Brighton and Hove Albion,2,Manchester United,1,H,Brighton and Hove Albion vs Manchester United
34,Crystal Palace,0,West Ham United,2,A,Crystal Palace vs West Ham United
35,Fulham,2,Leicester City,1,H,Fulham vs Leicester City
36,Manchester City,4,Ipswich Town,1,H,Manchester City vs Ipswich Town
37,Southampton,0,Nottingham Forest,1,A,Southampton vs Nottingham Forest
38,Tottenham Hotspur,4,Everton,0,H,Tottenham Hotspur vs Everton
39,Aston Villa,0,Arsenal,2,A,Aston Villa vs Arsenal
40,Leicester City,1,Tottenham Hotspur,1,D,Leicester City vs Tottenham Hotspur
41,Brentford,2,Crystal Palace,1,H,Brentford vs Crystal Palace
42,Chelsea,0,Manchester City,2,A,Chelsea vs Manchester City
43,Ipswich Town,0,Liverpool,2,A,Ipswich Town vs Liverpool
44,Arsenal,2,Wolverhampton Wanderers,0,H,Arsenal vs Wolverhampton Wanderers
45,Everton,0,Brighton and Hove Albion,3,A,Everton vs Brighton and Hove Albion
46,Newcastle United,1,Southampton,0,H,Newcastle United vs Southampton
47,Nottingham Forest,1,Bournemouth,1,D,Nottingham Forest vs Bournemouth
48,West Ham United,1,Aston Villa,2,A,West Ham United vs Aston Villa
49,Manchester United,1,Fulham,0,H,Manchester United vs Fulham

In [247]:
import pandas as pd

# Read the Excel file into a DataFrame
file_path = '/Users/nicholasholman/Documents/Predix2024.xlsx'  # Replace with your actual file path
df = pd.read_excel(file_path, sheet_name='week 5') 
df

,home_team,away_team,AlexH,AlexA,ChadH,ChadA,DaveH,DaveA,FergusH,FergusA,...,SteH,SteA,Tom H*H,Tom H*A,Tom S*H,Tom S*A,WarrenH,WarrenA,Will*H,Will*A
0,West Ham United,Chelsea,2,1,2,2,1,2,1,1,...,2,2,1,1,2,3,1,2,1,1
1,Aston Villa,Wolverhampton Wanderers,2,0,3,1,2,0,2,0,...,2,1,2,0,2,1,2,0,2,0
2,Fulham,Newcastle United,1,1,1,2,1,1,2,1,...,1,2,1,1,1,2,1,2,1,1
3,Leicester City,Everton,2,0,3,1,1,1,2,3,...,0,0,3,2,2,2,0,1,2,1
4,Liverpool,AFC Bournemouth,3,1,1,1,2,0,3,0,...,2,1,2,0,3,1,2,0,3,0
5,Southampton,Ipswich Town,0,0,2,1,2,1,1,1,...,1,1,0,1,2,1,0,1,2,2
6,Tottenham Hotspur,Brentford,2,1,2,1,2,1,3,1,...,1,2,2,0,1,0,2,0,2,1
7,Crystal Palace,Manchester United,0,2,3,1,2,2,1,2,...,2,2,2,1,0,2,1,3,1,1
8,Brighton & Hove Albion,Nottingham Forest,1,1,0,1,2,1,2,2,...,1,0,2,0,1,1,1,1,2,1
9,Manchester City,Arsenal,3,0,0,1,2,1,1,1,...,2,0,3,2,2,1,2,0,2,1

In [248]:
# Convert from wide to long format
df_long = pd.melt(df, id_vars=['home_team', 'away_team'], var_name='player', value_name='Score')

print("\nLong DataFrame:")
print(df_long)

Long DataFrame:
                  home_team                away_team  player  Score
0           West Ham United                  Chelsea   AlexH      2
1               Aston Villa  Wolverhampton Wanderers   AlexH      2
2                    Fulham         Newcastle United   AlexH      1
3            Leicester City                  Everton   AlexH      2
4                 Liverpool          AFC Bournemouth   AlexH      3
..                      ...                      ...     ...    ...
275             Southampton             Ipswich Town  Will*A      2
276       Tottenham Hotspur                Brentford  Will*A      1
277          Crystal Palace        Manchester United  Will*A      1
278  Brighton & Hove Albion        Nottingham Forest  Will*A      1
279         Manchester City                  Arsenal  Will*A      1

[280 rows x 4 columns]

In [249]:
def set_predictions(row):
    if row['player'].endswith('H'):
        row['home_prediction'] = row['Score']
        row['away_prediction'] = None
    elif row['player'].endswith('A'):
        row['away_prediction'] = row['Score']
        row['home_prediction'] = None
    return row

# Apply the function to each row in the DataFrame
df_long = df_long.apply(set_predictions, axis=1)

# Display the resulting DataFrame
df_long['player'] = df_long['player'].str[:-1]
# Change 'AFC Bournemouth' to 'Bournemouth' in the 'away_team' column
df_long['away_team'] = df_long['away_team'].replace('AFC Bournemouth', 'Bournemouth')
df_long['home_team'] = df_long['home_team'].replace('Brighton & Hove Albion', 'Brighton and Hove Albion')

In [250]:
df_long

,Score,away_prediction,away_team,home_prediction,home_team,player
0,2,NaN,Chelsea,2.0,West Ham United,Alex
1,2,NaN,Wolverhampton Wanderers,2.0,Aston Villa,Alex
2,1,NaN,Newcastle United,1.0,Fulham,Alex
3,2,NaN,Everton,2.0,Leicester City,Alex
4,3,NaN,Bournemouth,3.0,Liverpool,Alex
...,...,...,...,...,...,...
275,2,2.0,Ipswich Town,NaN,Southampton,Will*
276,1,1.0,Brentford,NaN,Tottenham Hotspur,Will*
277,1,1.0,Manchester United,NaN,Crystal Palace,Will*
278,1,1.0,Nottingham Forest,NaN,Brighton and Hove Albion,Will*
279,1,1.0,Arsenal,NaN,Manchester City,Will*

In [251]:
df_summed = df_long.groupby(['home_team', 'away_team', 'player'], as_index=False).sum()

# Display the resulting DataFrame
print(df_summed)

           home_team                away_team  player  Score  away_prediction  \
0        Aston Villa  Wolverhampton Wanderers    Alex      2              0.0
1        Aston Villa  Wolverhampton Wanderers    Chad      4              1.0
2        Aston Villa  Wolverhampton Wanderers    Dave      2              0.0
3        Aston Villa  Wolverhampton Wanderers  Fergus      2              0.0
4        Aston Villa  Wolverhampton Wanderers  Holman      3              1.0
..               ...                      ...     ...    ...              ...
135  West Ham United                  Chelsea     Ste      4              2.0
136  West Ham United                  Chelsea  Tom H*      2              1.0
137  West Ham United                  Chelsea  Tom S*      5              3.0
138  West Ham United                  Chelsea  Warren      3              2.0
139  West Ham United                  Chelsea   Will*      2              1.0

     home_prediction
0                2.0
1                3.0
2                2.0
3                2.0
4                2.0
..               ...
135              2.0
136              1.0
137              2.0
138              1.0
139              1.0

[140 rows x 6 columns]

In [252]:
def calculate_predicted_result(row):
    if row['home_prediction'] > row['away_prediction']:
        return 'H'  # Home win
    elif row['home_prediction'] < row['away_prediction']:
        return 'A'  # Away win
    else:
        return 'D'  # Draw

# Apply the function to each row in the DataFrame to create a new column 'predicted_result'
df_summed['predicted_result'] = df_summed.apply(calculate_predicted_result, axis=1)
df_summed['match'] = df_summed['home_team'] + ' vs ' + df_predictions['away_team']
# Display the updated DataFrame with predicted result
df_summed

,home_team,away_team,player,Score,away_prediction,home_prediction,predicted_result,match
0,Aston Villa,Wolverhampton Wanderers,Alex,2,0.0,2.0,H,Aston Villa vs Arsenal
1,Aston Villa,Wolverhampton Wanderers,Chad,4,1.0,3.0,H,Aston Villa vs Arsenal
2,Aston Villa,Wolverhampton Wanderers,Dave,2,0.0,2.0,H,Aston Villa vs Arsenal
3,Aston Villa,Wolverhampton Wanderers,Fergus,2,0.0,2.0,H,Aston Villa vs Newcastle United
4,Aston Villa,Wolverhampton Wanderers,Holman,3,1.0,2.0,H,Aston Villa vs Newcastle United
...,...,...,...,...,...,...,...,...
135,West Ham United,Chelsea,Ste,4,2.0,2.0,D,NaN
136,West Ham United,Chelsea,Tom H*,2,1.0,1.0,D,NaN
137,West Ham United,Chelsea,Tom S*,5,3.0,2.0,A,NaN
138,West Ham United,Chelsea,Warren,3,2.0,1.0,A,NaN
139,West Ham United,Chelsea,Will*,2,1.0,1.0,D,NaN

In [253]:
# Create the 'match' column in both DataFrames
df_summed['match'] = df_summed['home_team'] + ' vs ' + df_summed['away_team']
df_actuals['match'] = df_actuals['home_team'] + ' vs ' + df_actuals['away_team']

# Merge the two DataFrames on the 'match' column
df_combined = pd.merge(df_summed, df_actuals, on='match')

# Display the merged DataFrame
df_combined

,home_team_x,away_team_x,player,Score,away_prediction,home_prediction,predicted_result,match,home_team_y,home_score,away_team_y,away_score,actual_result
0,Aston Villa,Wolverhampton Wanderers,Alex,2,0.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H
1,Aston Villa,Wolverhampton Wanderers,Chad,4,1.0,3.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H
2,Aston Villa,Wolverhampton Wanderers,Dave,2,0.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H
3,Aston Villa,Wolverhampton Wanderers,Fergus,2,0.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H
4,Aston Villa,Wolverhampton Wanderers,Holman,3,1.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,West Ham United,Chelsea,Ste,4,2.0,2.0,D,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A
136,West Ham United,Chelsea,Tom H*,2,1.0,1.0,D,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A
137,West Ham United,Chelsea,Tom S*,5,3.0,2.0,A,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A
138,West Ham United,Chelsea,Warren,3,2.0,1.0,A,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A
139,West Ham United,Chelsea,Will*,2,1.0,1.0,D,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A

In [254]:

df_combined['home_score'] = pd.to_numeric(df_combined['home_score'])
df_combined['away_score'] = pd.to_numeric(df_combined['away_score'])
df_combined['home_prediction'] = pd.to_numeric(df_combined['home_prediction'])
df_combined['away_prediction'] = pd.to_numeric(df_combined['away_prediction'])

In [255]:
def calculate_player_result(row):
    if row['home_prediction'] == row['home_score'] and row['away_prediction'] == row['away_score']:
        return 3  # Exact
    
    elif row['predicted_result'] == row['actual_result']:
        return 1  # Right result

    else:
        return 0  # Wrong

# Apply the function to each row in the DataFrame to create a new column 'predicted_result'
df_combined['player_result'] = df_combined.apply(calculate_player_result, axis=1)

In [256]:
df_combined

,home_team_x,away_team_x,player,Score,away_prediction,home_prediction,predicted_result,match,home_team_y,home_score,away_team_y,away_score,actual_result,player_result
0,Aston Villa,Wolverhampton Wanderers,Alex,2,0.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H,1
1,Aston Villa,Wolverhampton Wanderers,Chad,4,1.0,3.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H,3
2,Aston Villa,Wolverhampton Wanderers,Dave,2,0.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H,1
3,Aston Villa,Wolverhampton Wanderers,Fergus,2,0.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H,1
4,Aston Villa,Wolverhampton Wanderers,Holman,3,1.0,2.0,H,Aston Villa vs Wolverhampton Wanderers,Aston Villa,3,Wolverhampton Wanderers,1,H,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,West Ham United,Chelsea,Ste,4,2.0,2.0,D,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A,0
136,West Ham United,Chelsea,Tom H*,2,1.0,1.0,D,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A,0
137,West Ham United,Chelsea,Tom S*,5,3.0,2.0,A,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A,1
138,West Ham United,Chelsea,Warren,3,2.0,1.0,A,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A,1
139,West Ham United,Chelsea,Will*,2,1.0,1.0,D,West Ham United vs Chelsea,West Ham United,0,Chelsea,3,A,0

In [257]:
# Group by 'Name' and sum the 'player_result' for each player
df_scores = df_combined.groupby('player')['player_result'].sum().reset_index()

# Sort the DataFrame by 'player_result' in descending order
df_scores_sorted = df_scores.sort_values(by='player_result', ascending=False)

# Display the sorted DataFrame
df_scores_sorted

    player  player_result
3   Fergus             15
5     John             12
2     Dave              8
8   Rajesh              8
4   Holman              7
7     Phil              7
9      Ste              7
13   Will*              7
11  Tom S*              6
0     Alex              5
12  Warren              5
1     Chad              4
6     Nick              3
10  Tom H*              3

In [259]:
player_counts = df_combined['player'].value_counts()

# Display the result
print(player_counts)

player
Alex      10
Chad      10
Dave      10
Fergus    10
Holman    10
John      10
Nick      10
Phil      10
Rajesh    10
Ste       10
Tom H*    10
Tom S*    10
Warren    10
Will*     10
Name: count, dtype: int64

In [277]:
# Read the Excel file into a DataFrame
file_path = '/Users/nicholasholman/Documents/Predix2024.xlsx'  # Replace with your actual file path
df = pd.read_excel(file_path, sheet_name='league table') 
df

   Position          Player  Exacts  Points
0       1st          Holman     NaN    37.0
1       2nd          Tom S*     NaN    37.0
2       3rd            Nick     NaN    34.0
3       4th            Dave     NaN    34.0
4       5th          Warren     NaN    34.0
5       6th             Ste     NaN    33.0
6       7th            John     NaN    32.0
7       8th            Alex     NaN    32.0
8       9th            Phil     NaN    32.0
9      10th          Fergus     NaN    30.0
10     11th           Will*     NaN    29.0
11     12th          Tom H*     NaN    27.0
12     13th          Rajesh     NaN    23.0
13     14th            Chad     NaN    22.0
14      NaN             NaN     NaN     NaN
15      NaN  *Junior player     NaN     NaN

In [279]:
# Create the 'match' column in both DataFrames
df['player'] = df['Player']

# Merge the two DataFrames on the 'match' column
df_newscore = pd.merge(df, df_scores, on='player')

In [281]:
df_newscore

   Position  Player  Exacts  Points  player  player_result
0       1st  Holman     NaN    37.0  Holman              7
1       2nd  Tom S*     NaN    37.0  Tom S*              6
2       3rd    Nick     NaN    34.0    Nick              3
3       4th    Dave     NaN    34.0    Dave              8
4       5th  Warren     NaN    34.0  Warren              5
5       6th     Ste     NaN    33.0     Ste              7
6       7th    John     NaN    32.0    John             12
7       8th    Alex     NaN    32.0    Alex              5
8       9th    Phil     NaN    32.0    Phil              7
9      10th  Fergus     NaN    30.0  Fergus             15
10     11th   Will*     NaN    29.0   Will*              7
11     12th  Tom H*     NaN    27.0  Tom H*              3
12     13th  Rajesh     NaN    23.0  Rajesh              8
13     14th    Chad     NaN    22.0    Chad              4

In [283]:
df_newscore['new_score'] = df_newscore['Points'] + df_newscore['player_result']

In [299]:
df_newscore_sorted = df_newscore.sort_values(by='new_score', ascending=False, )


df_newscore_sorted = df_newscore_sorted[['Player', 'new_score']]

# Display the sorted DataFrame
df_newscore_sorted = df_newscore_sorted.rename(columns={'new_score': 'Points'})

# Keep only the 'Points' and 'Player' columns

# Display the updated DataFrame
df_newscore_sorted

    Player  Points
9   Fergus    45.0
0   Holman    44.0
6     John    44.0
1   Tom S*    43.0
3     Dave    42.0
5      Ste    40.0
4   Warren    39.0
8     Phil    39.0
2     Nick    37.0
7     Alex    37.0
10   Will*    36.0
12  Rajesh    31.0
11  Tom H*    30.0
13    Chad    26.0

In [301]:
streamlit.dataframe(df_newscore_sorted)

NameError: name 'streamlit' is not defined

In [303]:
import streamlit as st
import pandas as pd

# Assuming df_newscore_sorted and df_scores_sorted are your DataFrames.
# For the example, I'll create dummy DataFrames.


# Streamlit app starts here
st.title('Predix 2024')


# Display second DataFrame (df_scores_sorted)
st.subheader('Weekly Score')
st.dataframe(df_scores_sorted)

# Display first DataFrame (df_newscore_sorted)
st.subheader('Total Score')
st.dataframe(df_newscore_sorted)

2024-09-22 21:51:53.182
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/anaconda3/lib/python3.12/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()